# ignore vagrant setup files and misc.
.vagrant/
.gitignore.swp
Thumbs.db

# ignore everything under the wordpress directory EXCEPT wp_content
# under the wp_content directory, ignore specified plugins and themes
wordpress/*
!wordpress/wp-content/
wordpress/wp-content/*
!wordpress/wp-content/plugins/
wordpress/wp-content/plugins/akismet/
wordpress/wp-content/plugins/hello.php
wordpress/wp-content/plugins/index.php
!wordpress/wp-content/themes/
wordpress/wp-content/themes/index.php
wordpress/wp-content/themes/twenty*/
