.container {
  background-image: url( 'http://colourlovers.com.s3.amazonaws.com/images/patterns/582/582552.png?1250954754' );
  min-height: 100vh;
  padding: 20px;
}

.contentbox {
  background-color: #fff;
  padding: 10px;
  width: 60%;
}

h3 {
  margin-bottom: 20px !important;
  font-style: italic;
}
