.container {
  background-image: url( 'http://colourlovers.com.s3.amazonaws.com/images/patterns/582/582552.png?1250954754' );
  min-height: 100vh;
  padding: 20px;
}

.contentbox {
  background-color: #fff;
  padding: 10px;
}

h2 {
  margin-bottom: 10px !important;
}

p {
  margin-top: 5px;
}

.lead {
  display: block;
  font-size: 1.1em;
  font-weight: bold;
}