@import url( 'https://fonts.googleapis.com/css?family=Lora:400,700' );
@import url( 'https://fonts.googleapis.com/css?family=Satisfy' );

body {
  margin: 0;
  font-size: 16px;
}

h1 {
  margin: 0;
  font-size: 2.5em;
  font-family: 'Lora', serif;
  letter-spacing: 2px;
}