@import url( 'https://fonts.googleapis.com/css?family=Lora:400,700' );
@import url( 'https://fonts.googleapis.com/css?family=Satisfy' );

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 16px;
}

h1, h2, h3 {
  margin: 0;
  font-family: 'Lora', serif;
}

h1 {
  font-size: 2.5em;
  letter-spacing: 2px;
}