$num-bars         : 3;
$bar-height       : 9px;
$bar-border-radius: 9px;
$bar-color        : #d3531a;

$computed-padding : ( $num-bars - 1 ) * $bar-height; // padding between the inside bars
$icon-height      : ( $bar-height * $num-bars ) + $computed-padding; // height of all bars + the computed padding

:global {
  /* Icon 1 */
  #abi-1, #abi-2, #abi-3, #abi-4 {
    width: 60px;
    height: $icon-height;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
  }

  #abi-1 span, #abi-2 span, #abi-3 span, #abi-4 span {
    display: block;
    position: absolute;
    height: $bar-height;
    width: 100%;
    background: $bar-color;
    border-radius: $bar-border-radius;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }

  #abi-1 span:nth-child(1) {
    top: 0px;
  }

  #abi-1 span:nth-child(2) {
    top: $bar-height * 2;
  }

  #abi-1 span:nth-child(3) {
    top: $bar-height * 4;
  }

  #abi-1.open span:nth-child(1) {
    top: $bar-height * 2;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
  }

  #abi-1.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
  }

  #abi-1.open span:nth-child(3) {
    top: $bar-height * 2;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }

  /* Icon 2 */
  #abi-2 {
  }

  #abi-2 span {
    width: 50%;
  }

  #abi-2 span:nth-child(even) {
    left: 50%;
    border-radius: 0 $bar-border-radius $bar-border-radius 0;
  }

  #abi-2 span:nth-child(odd) {
    left:0px;
    border-radius: $bar-border-radius 0 0 $bar-border-radius;
  }

  #abi-2 span:nth-child(1), #abi-2 span:nth-child(2) {
    top: 0px;
  }

  #abi-2 span:nth-child(3), #abi-2 span:nth-child(4) {
    top: $bar-height * 2;
  }

  #abi-2 span:nth-child(5), #abi-2 span:nth-child(6) {
    top: $bar-height * 4;
  }

  #abi-2.open span:nth-child(1), #abi-2.open span:nth-child(6) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  #abi-2.open span:nth-child(2), #abi-2.open span:nth-child(5) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  #abi-2.open span:nth-child(1) {
    left: 5px;
    top: 7px;
  }

  #abi-2.open span:nth-child(2) {
    left: calc(50% - 5px);
    top: 7px;
  }

  #abi-2.open span:nth-child(3) {
    left: -50%;
    opacity: 0;
  }

  #abi-2.open span:nth-child(4) {
    left: 100%;
    opacity: 0;
  }

  #abi-2.open span:nth-child(5) {
    left: 5px;
    top: 29px;
  }

  #abi-2.open span:nth-child(6) {
    left: calc(50% - 5px);
    top: 29px;
  }

  /* Icon 3 */
  #abi-3 span:nth-child(1) {
    top: 0px;
  }

  #abi-3 span:nth-child(2), #abi-3 span:nth-child(3) {
    top: $bar-height * 2;
  }

  #abi-3 span:nth-child(4) {
    top: $bar-height * 4;
  }

  #abi-3.open span:nth-child(1) {
    top: $bar-height * 2;
    width: 0%;
    left: 50%;
  }

  #abi-3.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  #abi-3.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  #abi-3.open span:nth-child(4) {
    top: $bar-height * 2;
    width: 0%;
    left: 50%;
  }

  /* Icon 4 */
  #abi-4 {
  }

  #abi-4 span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }

  #abi-4 span:nth-child(2) {
    top: $bar-height * 2;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }

  #abi-4 span:nth-child(3) {
    top: $bar-height * 4;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }

  #abi-4.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -3px;
    left: 8px;
  }

  #abi-4.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
  }

  #abi-4.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 39px;
    left: 8px;
  }
}