:global {
  #abi-1, #abi-2, #abi-3, #abi-4 {
    width: 60px;
    height: 45px;
    position: relative;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
  }

  #abi-1 span, #abi-2 span, #abi-3 span, #abi-4 span {
    display: block;
    position: absolute;
    height: 9px;
    width: 100%;
    background: #d3531a;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
    box-shadow: 1px 1px 1px fade-out( black, .7 );
  }

  #abi-1.open span, #abi-2.open span, #abi-3.open span, #abi-4.open span {
    box-shadow: none;
  }

  #abi-1 span:nth-child(1) {
    top: 0px;
  }

  #abi-1 span:nth-child(2) {
    top: 18px;
  }

  #abi-1 span:nth-child(3) {
    top: 36px;
  }

  #abi-1.open span:nth-child(1) {
    top: 18px;
    transform: rotate(135deg);
  }

  #abi-1.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
  }

  #abi-1.open span:nth-child(3) {
    top: 18px;
    transform: rotate(-135deg);
  }

  /* Icon 2 */

  #abi-2 {
  }

  #abi-2 span {
    width: 50%;
  }

  #abi-2 span:nth-child(even) {
    left: 50%;
    border-radius: 0 9px 9px 0;
  }

  #abi-2 span:nth-child(odd) {
    left:0px;
    border-radius: 9px 0 0 9px;
  }

  #abi-2 span:nth-child(1), #abi-2 span:nth-child(2) {
    top: 0px;
  }

  #abi-2 span:nth-child(3), #abi-2 span:nth-child(4) {
    top: 18px;
  }

  #abi-2 span:nth-child(5), #abi-2 span:nth-child(6) {
    top: 36px;
  }

  #abi-2.open span:nth-child(1),#abi-2.open span:nth-child(6) {
    transform: rotate(45deg);
  }

  #abi-2.open span:nth-child(2),#abi-2.open span:nth-child(5) {
    transform: rotate(-45deg);
  }

  #abi-2.open span:nth-child(1) {
    left: 5px;
    top: 7px;
  }

  #abi-2.open span:nth-child(2) {
    left: calc(50% - 5px);
    top: 7px;
  }

  #abi-2.open span:nth-child(3) {
    left: -50%;
    opacity: 0;
  }

  #abi-2.open span:nth-child(4) {
    left: 100%;
    opacity: 0;
  }

  #abi-2.open span:nth-child(5) {
    left: 5px;
    top: 29px;
  }

  #abi-2.open span:nth-child(6) {
    left: calc(50% - 5px);
    top: 29px;
  }

  /* Icon 3 */

  #abi-3 span:nth-child(1) {
    top: 0px;
  }

  #abi-3 span:nth-child(2),#abi-3 span:nth-child(3) {
    top: 18px;
  }

  #abi-3 span:nth-child(4) {
    top: 36px;
  }

  #abi-3.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
  }

  #abi-3.open span:nth-child(2) {
    transform: rotate(45deg);
  }

  #abi-3.open span:nth-child(3) {
    transform: rotate(-45deg);
  }

  #abi-3.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
  }

  /* Icon 4 */

  #abi-4 {
  }

  #abi-4 span:nth-child(1) {
    top: 0px;
    transform-origin: left center;
  }

  #abi-4 span:nth-child(2) {
    top: 18px;
    transform-origin: left center;
  }

  #abi-4 span:nth-child(3) {
    top: 36px;
    transform-origin: left center;
  }

  #abi-4.open span:nth-child(1) {
    transform: rotate(45deg);
    top: -3px;
    left: 8px;
  }

  #abi-4.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
  }

  #abi-4.open span:nth-child(3) {
    transform: rotate(-45deg);
    top: 39px;
    left: 8px;
  }
}