@import '../node_modules/bootstrap/less/bootstrap.less';
@import '../node_modules/font-awesome/less/font-awesome.less';
@import 'variables.less';
@import 'helpers.less';

#splash-container {
	position:relative;
	background-image:url(http://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-21827.jpg);
	background-size:cover;
	background-position:50% 0px;
	background-repeat:no-repeat;

	.text {
		position:absolute; top:50%;
		height:@splash-text-height; width:100%;
		margin-top:-(@splash-text-height/2);
		text-align:center; color:white;
		
		&.loading {
			height:50px; margin-top:-25px;
		}
		h1, h2 { text-shadow:0px 0px 20px darken(white, 30%); }
		h1 {
			position:relative;
			margin-top:0; margin-bottom:@mp-large;
			font-size:5em; font-weight:700;
			text-transform:uppercase;

			&:after {
				content:""; position:absolute; bottom:-(@mp-large); left:50%;
				background-color:white;
				width:@splash-text-border-width; height:@mp-small;
				margin-left:-(@splash-text-border-width / 2);
			}
		}
		h2 {
			margin-top:@mp-large * 2;
			text-transform:uppercase;
		}

		@media(max-width:@screen-xxs-max){
			& {
				height:@splash-text-height-xxs;
				margin-top:-(@splash-text-height-xxs / 2);
			}
		}
	}
}

nav {
	background-color:@nav-bg;
	width:100%; height:@nav-height;
	
	&.yes-fixed { position:fixed; top:0; }
	&.no-fixed { position:relative; }
	ul {
		list-style-type:none;
		height:inherit;
		margin:0; padding:0;
		text-align:center;

		li {
			display:inline-table;
			height:inherit;
			padding:0 @mp-medium;

			& > a {
				display:table-cell;
				vertical-align:middle;
			}
		}
	}

	@media(max-width:@screen-xs-max){
		&, &.yes-fixed, &.no-fixed { position:fixed; }
		& {
			top:0; z-index:9;
			background-color:@nav-bg;
			height:100%; opacity:0;
			transition:opacity 0.3s;

			ul {
				position:relative; top:50%;
				transform:translateY(-50%);
				height:auto;

				li {
					display:block;
					width:100%; height:@nav-height;

					& > a {
						display:block; text-align:center;
						height:inherit;
					}
				}
			}
		}
	}
}

/* credit: http://callmenick.com/post/animating-css-only-hamburger-menu-icons */
#mobile-nav-container {
	position:fixed; display:none; z-index:10;
	width:100%; height:@nav-height-mobile;
	margin:0; padding:0;
	box-shadow:none; border:none;
	text-indent:-999px; overflow:hidden;
	cursor:pointer;
	transition:background 0.3s;
	
	&:focus { outline:none; }
	&.yes-bg { background-color:fade(@nav-bg, 100%); }
	&.no-bg { background-color:fadeOut(@nav-bg, 100%); }
	span {
		position:absolute; display:block;
		top:50%; left:@mp-medium * 2; transform:translateY(-50%);
		width:@burger-bar-width; height:@burger-bar-height;
		background:white;
		transition:background 0s 0.3s;

		&:before, &:after {
			position:absolute; left:0; display:block; content:"";
			background-color:white;
			width:100%; height:@mp-small;
			transition-duration:0.3s, 0.3s;
			transition-delay:0.3s, 0s;
		}
		&:before {
			top:@burger-bar-padding;
			transition-property:top, transform;
		}
		&:after {
			bottom:@burger-bar-padding;
			transition-property:bottom, transform;
		}
	}
	&.active {
		background-color:#cb0032;

		span {
			background:none;

			&:before, &:after {
				transition-delay:0s, 0.3s;
			}
			&:before {
				top:0;
				transform:rotate(45deg);
			}
			&:after {
				bottom:0;
				transform:rotate(-45deg);
			}
		}
	}
	@media(max-width:@screen-xs-max){
		display:block;
	}
}
