@screen-xxs-max: 600px;

@mp-small: 5px;
@mp-medium: 10px;
@mp-large: 30px;

@splash-text-height: 180px;
@splash-text-height-xxs: 300px;
@splash-text-border-width: 300px;

@burger-bar-height:5px;
@burger-bar-width:50px;
@burger-bar-padding:15px;
@burger-icon-height:(@burger-bar-height * 3) + (@burger-bar-padding * 2);

@nav-bg:#ff0000;
@nav-height:50px;
@nav-height-mobile:@burger-icon-height + 20;

@fa-font-path: 'node_modules/font-awesome/fonts';
